  <div class="root image">
    
    <div class="container">
      <div class="row">

        <div class="col-6">
          <h3>New Task</h3>

          <form (submit)="createTask()">
            <div class="form-group">
              <label for="title"><span>Title</span></label>
              <input type="text" class="form-control" id="title" name="title" [(ngModel)]="newTask.title">
              <label for="description"><span>Description</span></label>
              <textarea class="form-control" id="description" rows="3" name="description" [(ngModel)]="newTask.description"></textarea>
              <button class="btn btn-success btn-sm" type="submit">Submit</button>
            </div>
          </form>

          <div >
            <!-- selectedTask is from the root component, and it sends me to the taskToShow which is in the child(task) component -->
            <app-task *ngIf="selectedTask" [taskToShow]="selectedTask"></app-task>
          </div>

        </div><!-- left column ends -->

        <div class="col-6">
          <h3>All Tasks</h3>
          <div *ngFor="let task of tasks" class="tasks">
            <p><span>Title:</span> {{ task.title }}</p>
            <p><span>Description: </span> {{ task.description }}</p>
            <button type="button" class="btn btn-primary btn-sm" (click)="showEdit(task)">Edit</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteTask(task._id)">Delete</button>          
          </div>
        </div> <!-- right column ends -->

      </div>
    </div>
  </div>
